@using Microsoft.AspNetCore.Identity
@using WEBBERBERODEV.DATA
@using WEBBERBERODEV.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEBBERBERODEV</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEBBERBERODEV.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BÜN BERBER</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = await UserManager.GetUserAsync(User);
                            var roles = await UserManager.GetRolesAsync(user);

                            // Musteri Rolü için "Randevularım" bağlantısı
                            if (roles.Contains(UserRoles.Role_Musteri))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Randevu" asp-action="Index">Randevularım</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-page="/ChangeHairStyle">Saç Stili Değiştir</a>
                                </li>
                            }

                            // Calisan ve Admin Rolleri için "Randevu Yönetimi" bağlantısı
                            if (roles.Contains(UserRoles.Role_Calisan) || roles.Contains(UserRoles.Role_Admin))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Randevu" asp-action="Index">Randevu Yönetimi</a>
                                </li>
                            }

                            // Admin Rolü için diğer yönetim bağlantıları
                            if (roles.Contains(UserRoles.Role_Admin))

                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("DailyEarnings", "Performance")">Günlük Kazançlar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="CalisanHizmet" asp-action="Index">Çalışan Hizmet Atama</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Calisan" asp-action="Index">Çalışan Yönetimi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Hizmet" asp-action="Index">Hizmet Yönetimi</a>
                                </li>
                                <!-- Diğer admin bağlantıları buraya eklenebilir -->
                            }
                        }
                    </ul>

                    <ul class="navbar-nav">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = await UserManager.GetUserAsync(User);
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Merhaba, @user.Ad @user.Soyad!</a>
                            </li>
                            <li class="nav-item">
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post" asp-route-returnUrl="@Url.Action("Index", "Home")">
                                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Çıkış Yap</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Kayıt Ol</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Giriş Yap</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - WEBBERBERODEV - <a asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
