@model IEnumerable<WEBBERBERODEV.Models.CalisanHizmet>

@{
    ViewData["Title"] = "Çalışan Hizmet Listesi";
}

<h1>Çalışan Hizmet Listesi</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Yeni Hizmet Ata</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Çalışan</th>
            <th>Hizmet</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Calisan.Ad @item.Calisan.Soyad</td>
                <td>@item.Hizmet.Ad</td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-calisanId="@item.CalisanId" asp-route-hizmetId="@item.HizmetId">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
